<div class="vh-100 mb-3" style="padding-top: 5%; margin-left: 100px; margin-right: 100px;" >
    <div class="row">
   
        <div class="background " >
            <img src="assets/images/bienvenuee.png" class="img-fluid galleryImage" alt="img" style="width: 80%; height: auto;" >
        </div>

        <div class="content"  >
            <h1>Bienvenue dans Ma Pharmacie !</h1>
            <p>Nous sommes là pour vous fournir des médicaments de qualité et des conseils professionnels.</p>
            <a href="/login" class="btn btn-primary me-2">Se connecter</a>
            <a href="/registre" class="btn btn-secondary">S'inscrire</a>
        </div>
       
 
        <div class="col-12">
            <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="" class="img-fluid" alt="">
                    </div>

                    <div class="carousel-item">
                        <img src="" class="img-fluid" alt="">
                    </div>

                    <div class="carousel-item">
                        <img src="" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

           
        </div>

    </div>
</div>
