
<nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
        <div class="container">
            <a class="nav-link " >My pharmacy</a>
    
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse d-flex " id="navbarNav">
                <ul class="navbar-nav mx-auto d-flex">
                    
                    <li class="nav-item active">
                        <a class="nav-link " routerLink="/acc"  >Home</a>
                    </li>
                
                       
                        <li class="nav-item">
                            <a class="nav-link " routerLink="/contact" >Contact</a>
                        </li>
    
                        <div class="d-flex align-items-center">
                          <button class="signup">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">Login</span>
                          </button>
                    
                            <button class="signup">
                              <span class="transition"></span>
                              <span class="gradient"></span>
                              <span class="label">Sign UP</span>
                            </button>
                            
                        </div>
                   
    
                    
                </ul>
                   
                
            </div>
    
        </div>
</nav>

<div *ngIf="userRole === 'employe'">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg"  >
    <div class="container">
        <a class="nav-link " >My pharmacy</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex " id="navbarNav">
            <ul class="navbar-nav mx-auto d-flex">
                
                <li class="nav-item active">
                    <a class="nav-link " routerLink="/layout"  >Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "  routerLink="/cli">Clients</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "  routerLink="/stock">Stock</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "  routerLink="/prod">Produits</a>
                </li>
            </ul>    
        </div>
        <div class="dropdown">
          <a class="profile-icon dropdown-toggle" href="#" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item" href="#" id="profile" routerLink="/profile">My Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" id="logout" (click)="logout()">Logout</a></li>
          </ul>
        </div>

    </div>
</nav>
</div>


<div *ngIf="userRole === 'client'">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg"  >
    <div class="container">
        <a class="nav-link "  >My pharmacy</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex " id="navbarNav">
            <ul class="navbar-nav mx-auto d-flex">
                
                <li class="nav-item active">
                    <a class="nav-link "  routerLink="/layout" >Home</a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link "  routerLink="/contact">Contact</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "  routerLink="/listProduit">Products</a>
                </li>
       
            </ul>
               
            
        </div>
        <div class="dropdown" >
          <a class="profile-icon dropdown-toggle" href="#" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item" href="#" id="profile" routerLink="/profile">My Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" id="logout" (click)="logout()">Logout</a></li>
          </ul>
        </div>
        <div class="dropdown" >
          <a class="profile-icon dropdown-toggle"  routerLink="/panier" >
            <i class="bi bi-cart3"></i>
            <span class="badge" *ngIf="panierElemCount > 0"> {{panierElemCount}}</span>
          </a>
        </div>

    </div>
</nav>
</div>

<div *ngIf="userRole === 'admin'">
<div class="logo"> log</div>  
</div>