.login{
    background: -webkit-linear-gradient(left, #258f67, #36d497);
    margin-top: 3%;
    padding: 3%;
}
.login-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.login-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
  
}
.login-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.logo{
    width: 15%;
    height: auto;  
    
   
    float: left;
    display: flex;
    justify-content: flex-start;
    
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.login-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.login .login-form{
    padding: 10%;
    margin-top: 10%;
}
.btnLogin{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #258f67;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.login .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #258f67;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.login .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.login .nav-tabs .nav-link:hover{
    border: none;
}
.login .nav-tabs .nav-link.active{
    width: 100px;
    color: #258f67;
    border: 2px solid #258f67;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.login-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
.btn-primary{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #258f67;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

